/*Overall <html> CSS style. Removes extra whitespace on sides*/
html{
  width: 100%;
  height: 100%;
  padding-left:4%;
  padding-right:4%;
  background-image: url("/icons/curtains.jpg"); /*For CSS file links, omit the initial / in ./*/
  background-size: auto; /* Resize the background image to cover the entire container */
  background-repeat: repeat; /* Repeat the image when image size < page size*/
  background-color: #cccccc; /* Backup gray backdrop in case image fails to load */
}

/*Bootstrap style*/
.row{
  padding-left:2%;
  padding-right:2%;
}


/*Banner CSS style--*/
img#bannerImg {
  max-width: 100%;
  height: auto; 
}

/*Page CSS style--*/
body {
  background-color: black;
  color:white; /*Sets all text in <body> to white, unless specified otherwise for a specific class or id*/
  width:100%;
}
h1 {
  color:white;
  font-size: 16pt;
}
h2 {
  color:white;
  font-size: 14pt;
}  
h3 {
  color:white;
  font-size: 13pt;
}
.attribution{
  font-size:"0.5px";
  color: rgb(168, 161, 161);
  text-align: right;
}

/*Start button*/
.startButton{
  /*Dimensions*/
  width: 200px;
  height: 100px;
  border-radius: 5%; /*Rounds the button's edges*/

  /*Look and feel*/
  font-size: 15pt;
  padding: 8px; /*Space between text and button's borders*/
  background-color: #4CAF50; /* Green */
  color: white; /*Button text colour*/
  text-align: center;
  cursor: pointer; /*Cursor changes to pointing hand on hover*/

  /*On hover animation*/
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}
.startButtonTransition{
  background-color: rgba(128, 128, 128, 0.575); /* Green on hover*/
  color: white; /* Text colour before hover*/
  border: 5px solid white; /*Adds colour to button border */
}
.startButtonTransition:hover {
  background-color: #4CAF50; /* Green on hover*/
  color: white; /* Text colour after hover*/
  border: 5px solid white; /*Adds colour to button border */
}

/*Star ratings*/
.starRating {
  width:15%;
  height:auto;
  margin-bottom:1.5%;
}

/*Generate button*/
.generateButton{
  /*Dimensions*/
  width: 200px;
  height: 100px;
  border-radius: 5%; /*Rounds the button's edges*/

  /*Look and feel*/
  font-size: 15pt;
  padding: 8px; /*Space between text and button's borders*/
  background-color: #4CAF50; /* Green */
  color: white; /*Button text colour*/
  text-align: center;
  cursor: pointer; /*Cursor changes to pointing hand on hover*/

  /*On hover animation*/
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}
.generateButtonTransition{
  background-color: rgba(128, 128, 128, 0.575); /* Green on hover*/
  color: white; /* Text colour before hover*/
  border: 5px solid white; /*Adds colour to button border */
}
.generateButtonTransition:hover {
  background-color: #4CAF50; /* Green on hover*/
  color: white; /* Text colour after hover*/
  border: 5px solid white; /*Adds colour to button border */
}

.backToTop{
  /*Dimensions*/
  width: 200px;
  border-radius: 5%; /*Rounds the button's edges*/
  font-size: 12pt;
} 