/*CSS for Top 12 horizontal scrolling container*/  
/*For the scrolling container*/     
.card {
    background-color: rgba(128, 128, 128, 0.575);
    min-width: 100%;
    min-height: auto;
    overflow-x: auto; /*Ensures browser only scrolls the .card section*/
    display: flex;
    flex-direction: row;
}
.cardContent {
    background-image: url("/icons/card.jpg");
    background-position: center;
    background-size: 128px 238px;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-color: yellow; /* Backup gray backdrop in case image fails to load */
    width: 200px; /*Does not do anything until I zoom out. That's when it fixes card width*/
    height: 195px;
    margin: 10px; /*Sets border between seperate cards*/
}
.cardPoster {
    margin-left: 20px;
    margin-right: 22px;
    margin-top: 12px;
    width: 80px;
    height: 117px;
}

/*Movie title text*/
.cardDescription {
    position: relative;
    display: inline-block;
    font-size: 90%;
    width: 95px;
    color: black;
    /*border-bottom: 1px dotted black;*/
}

/*Movie description tooltip. Without hover, the descriptionText becomes invisible*/
.cardDescriptionText {
    visibility: hidden;
    max-height: 120px;
    min-width: 280px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 3px;
    padding: 2px;
    font-size: 88%; /*Sets the font-size to a percent of  the parent element's font size*/

    /* Position the tooltip */
    position: absolute; 
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;
}

/*On hover, the descriptionText becomes visible*/
.cardDescription:hover .cardDescriptionText {
visibility: visible;
}
